ul{
   list-style: none;
}
ul li{
   margin: 10px 0;
}
ul li a{
   color: white;
   opacity: 0.6;
   text-decoration: none;
   font-size: 14px;
}
ul li a:hover{
  opacity: 1;
}
.service{
   color: white;
   opacity: 0.8;
   margin-bottom: 10px;
   margin-left: 18%;
    
}
.service span{
   border: 1px solid rgb(206, 195, 195);
   padding:0 10px;
}
.linked, .copy{
   color: white;
   margin-left:20%;
   opacity: 0.8;
}
.copy{
   margin-bottom: 50px;
}
.linked span{
  margin-left: 20px;
  opacity: 1;
}