.banner{
  margin-bottom: -80px;
  color: white;
  max-width: 100%;
  /* overflow-x: hidden; */
}
.banner_container {
  padding-top: 25vh;
  margin-left: 30px;
}
.banner_container div {
  padding: 5px 0;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}

.banner_bottons {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.banner_bottons button {
  padding: 10px 44px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.banner_bottons button:hover {
  background-color: #c6c6c6;
  color: black;
}
.list_button {
  background-color: transparent;
  color: white;
}
.banner_discription {
 width: 30%;
}
.bottom_fade {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.91),
    #111
  );

}
