.banner_container {
  /* margin-top: 10vh; */
  padding-top: 25vh;
  margin-left: 40px;
}
.banner_container div {
  padding: 5px 0;
}
.title {
  color: white;
  font-size: 14vh;
  font-weight: 600;
}
.banner_discription {
  color: white;
}
.banner_bottons {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.banner_bottons button {
  padding: 10px 44px;
  border: none;
  font-weight: 700;
}
.banner_bottons button:hover {
  background-color: rgb(71, 61, 61);
}
.list_button {
  background-color: transparent;
  color: white;
}
.banner_discription {
  width: 400px;
}
.fade {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
